{% extends 'base.html.twig' %}

{% block title %}Wild{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-2 border-end">
                {% for category in categories %}
                    <p>
                        <a href="{{ path('app_post_index', {'categoryId': category.id}) }}">
                            {{ category }}
                        </a>
                    </p>
                {% endfor %}
            </div>
            <div class="col ps-5">
                {% for approvedPost in approvedPosts %}
                    <h1>
                        <a href="{{ path('app_post_show', {'id':approvedPost.id}) }}">
                            {{ approvedPost.title }}
                        </a>
                    </h1>
                    {{ approvedPost.description | raw }}
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
